h2 {
    padding-bottom: 30px;
}

.card {
    min-height: 200px;
    max-width: 950px;
}

.btnCreateTask {
    min-width: 180px;
    font-size: 22px;
    background: #ef021f;
    margin-bottom: 30px !important;
    border: none;
}

.btn-task-details {
    background-color: #0080c4 !important;
}

.btn-task-details:hover {
    background-color: #004468 !important;
}

.btnCreateTask:hover {
    background: #a40014;
}

input[type=checkbox] {
    min-width: 16px;
    min-height: 16px;
}

.searchTasks {
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
}