h2 {
    padding-bottom: 30px;
}

select, input {
    min-height: 60px;
    border-radius: 10px;
    font-size: 16px;
}

input[type=submit] {
    font-size: 20px;
}

.btnSave {
    margin-bottom: 15px;
}
